:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--slate);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

body[class*="is-open"] {
  overflow: hidden;
}

/* default styles reset*/
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy-blue);
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* general styles */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  border: none;
  transition: background-color var(--animation);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--ocean);
}

/* header and navigation */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  gap: 40px;
}

.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.dark-logo {
  color: var(--navy-blue);
}

.link {
  display: inline-block;
}

.header .link {
  padding: 24px 0;
  transition: color var(--animation);
}

.header .link:hover,
.header .link:focus {
  color: var(--ocean);
}

.nav-link {
  position: relative;
  color: var(--navy-blue);
  font-weight: 500;
}

.nav-link.current {
  color: var(--ocean);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

/* section hero */

.hero {
  max-width: 1440px;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--navy-blue);
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}

.order-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.expertise-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* same styles for same level titles */
.small-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team {
  background-color: var(--cloud);
}

.team .section-title {
  margin-bottom: 72px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  color: var(--cloud);
  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color var(--animation);
}

.icon {
  fill: currentColor;
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--ocean);
}

.card-list {
  display: flex;
  gap: 24px;
}

.card-item {
  width: calc((100% - 3 * 24px) / 4);
}

.member-card {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-card > .card-info {
  text-align: center;
}

.team .card-info {
  padding: 32px 0;
}

.card-info {
  padding: 32px 16px;
}

.portfolio-section {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio .card-list {
  flex-wrap: wrap;
  gap: 48px 24px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  color: var(--cloud);

  transform: translateY(100%);
  transition: transform var(--animation);
}

.portfolio-card > .card-info {
  border: 1px solid var(--cornflower);
  border-top: 0;
}

.portfolio-card {
  transition: box-shadow var(--animation);
}

.portfolio-card:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .overlay-text {
  transform: translateY(0%);
}

.footer {
  background-color: var(--navy-blue);
  color: var(--white);
  padding: 100px 0;
}

.footer .container {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.info {
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.light-logo {
  color: var(--cloud);
}

.info .footer-text {
  width: 264px;
  color: var(--cloud);
}

.soc-media {
  width: 208px;
  margin-top: 0;
  margin-right: 80px;
}
.footer-text {
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-icons {
  gap: 16px;
}

.footer-icons .icon-link:hover,
.footer-icons .icon-link:focus {
  background-color: var(--green);
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: var(--white);
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin-bottom: 0;
}

.icon-send {
  fill: currentColor;
  margin-left: 16px;
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity var(--animation),
    visibility var(--animation);
  z-index: 1000;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 584px;
  width: 408px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  background-color: var(--dairy);
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;

  transition: transform var(--animation);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  color: var(--navy-blue);

  transition:
    background-color var(--animation),
    border var(--animation);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--animation);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--ocean);
  border: none;
}

.close-btn:hover > .modal-close-icon,
.close-btn:focus > .modal-close-icon {
  fill: var(--white);
}

.modal-info {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: var(--navy-blue);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 8px;
  padding: none;
}

.modal-form > .form-field:nth-child(4) {
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 4px;
  display: block;
}

.modal-form > .form-field:nth-child(5) {
  margin-bottom: 24px;
}

.form-label,
.form-input,
.form-label-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.form-input {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  color: var(--navy-blue);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: border-color var(--animation);
}

.form-input:focus {
  border-color: var(--iris);
}

.form-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.comment-input {
  display: block;
  padding: 8px 16px;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
}

.input-wrapper {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: currentColor;

  transform: translateY(-50%);
  transition: fill var(--animation);
}

.form-input:focus + .modal-icon {
  fill: var(--iris);
}

.form-label-agreement {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  flex-shrink: 0;
  transition:
    background-color var(--animation),
    border var(--animation),
    fill var(--animation);

  cursor: pointer;
}

.checkbox-input:checked + .form-label-agreement .custom-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.agreement-link {
  color: var(--iris);
  text-decoration: underline;
  line-height: 1.33;
}

.modal-main-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  text-align: center;
}
